<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: black;
=======
p{
    color: cadetblue;
>>>>>>> 78785c1009ee7b40a1e9f49097342277a1e0ad1d
}